<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIKES SIM</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>IOT TEST</h2>
    <div class="center-block p-3" style="">
        <span class=" text-center">NO:{{l[1]["num"]}}</span><br/>
        <span class=" text-center">ID:{{l[0]}}</span><br/>
        <span class=" text-center">STATE:{{l[1]["state"]}}</span><br/>
        <a href="lend?id={{l[0]}}"><img src="qr?id={{l[0]}}"/></a><br/>
        <a class="btn btn-warning" href="/list">back</a>
    </div>
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</html>